* {
    margin: 0px;
    box-sizing: border-box;
}
 header p {
    background-color: #1CD1B0;
    font-family: roboto;
    font-size: 15px;

} 

main section {
    width: 1200px;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    
    align-items: flex-start;
}
article p {
    width: 300px;
    height: 200px;
    padding: 16px;
}

h2 {
    padding-top: 60px;
    text-align: center;
}
article{
    margin-top: 100px;
    position: relative;
    background-color: lightgrey;
}
.corazon{
    position: absolute;
    left: 21px;
    top: 16px;
}

.logo {
    border-radius: 50%;
    position: absolute;
    left:  90px;
    top: 126px;
    

}
 h1 p{
    padding: 28px 868px 26px 28px;
    background-color: #00669F;
    font-size: 40px;
} 

main {
    margin-top: 154px;
    
}


.logo {
    
    position: absolute;
    left: 90px;
    top: 128px;
    
    
    border-radius: 50%
}
article {
    font-size: 0;
    position: flex;
    
    height: 50px;
}
h2{
    font-size: 30px;
    padding-top: 73px;
    text-transform: uppercase;
    text-align: center;
    background-color: #F3F3F3;
    
  
}
article p{
    font-family:  Roboto;
    background-color: #F3F3F3;
    font-size: 16px;
    padding: 10px 17px 0px 16px;
    

    width: 300px;
    height: 227px;
   
}

button{
    position: absolute;
    
    left: 85px;
    top: 455px;
    width: 129px;
    height: 49px;
    
    
    border-bottom-style: solid;
    background-color: #00669F;
    color: #F3F3F3;
}

footer{
    margin-top: 170px;
    margin-bottom: 1px;
    font-family: roboto;
    font-size: 16px;
    padding: 16px 671px 16px 16px;
    background-color: #00669F;
}